build/
env/
outputLinesStatus.csv
.pytest_cache/
src/output_lines_status.csv
src/__pycache__
src/tfl_requests.log
tests/output_lines_status.csv
tests/__pycache__
tests/tfl_requests.log
tfl_requests.egg-info/
.tox/
tox-generated.ini
