certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
filelock==3.0.12
idna==2.8
numpy==1.17.4
packaging==19.2
pkg-resources==0.0.0
pluggy==0.13.1
py==1.8.0
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
tfl-requests==0.0.0
toml==0.10.0
tox==3.14.1
urllib3==1.25.7
virtualenv==16.7.8
